@import url('https://fonts.googleapis.com/css?family=Open+Sans:300;400,600');

:root {
  --main-color: rgb(69,46,118);
  --second-color: rgb(72,195,220);
  --font-color: white;
  --font-size: 14px;
  --header-size: 60px;
  --header-big: 100px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: white; /* fallback color */
  font-family: 'Open Sans';
  font-weight: 300;
  color: #000c;;
  font-size: var(--font-size);
  transition: font-size 0.5s;

  /* Making transparent background */
    &::after { 
    content: '';
    background: url('assets/bg.png');
    opacity: 0.3;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.container {
  margin: 0 auto;
  max-width: 1260px;
}

/* TEAM */
.team {

  &__title {
    text-align: center;
    font-family: 'Open Sans', sans-serif ;
    line-height: 65px;
    color: var(--main-color);
    font-weight: 600;
  }

  &__header {
    font-size: var(--header-size); // Fix user agent overriding
    transition: 0.5s;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(5, 211px);
    grid-gap: 20px;
    justify-content: space-around;
  }
}


/*PROFILE*/
.profile {
  width: 209px;
  min-height: 209px;
  
  &__photo {
    height: 209px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    text-align: center;

    &__header {
      color: var(--main-color);
      margin-top: 0;
      font-size: 20px;      
    }

    &__position {
      color: var(--second-color);
      line-height: 24px;      
    }
  }
}

.photo {
  position: relative;
  
  &__img {
    position: relative;
    max-width: 180px;
    max-height: 180px;
    border-radius: 50%;
  }
  
  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #47c3db;
    z-index: 1;
    opacity: 0.7;
    transition: 0.8s;
    cursor: pointer;
  }

  .photo:hover &__mask {
  opacity: 0;
  }
}

/*envelope icon*/
.photo::after {
  content: '✉';
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  right: 5%;
  top: 5%;
  background: var(--main-color);
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
  z-index: 2;
  transition: 0.8s;
  cursor: pointer;
}

.photo:hover::after {
  transform: scale(1.2);
}

// MODAL
.modal {
  display: none;
  background: white; // fallback
  background: url('assets/modal-bg.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  &--open {
    display: block;
  }

  &__overlay {
    height: 100%;
    background: rgba(71,195,219,0.55);
  }

  &__gradient {
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  }

  &__close {
    cursor: pointer;

    &::before, &::after{
      content: '';
      position: absolute;
      top: 50px;
      right: 50px;
      width: 65px;
      height: 18px;
      background: white;
      border-radius: 5px;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  &__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    width: 100%;
  }
}
  .slider {
    display: flex;
    align-items: center;
    justify-content: space-between;

   &__arrow {
    height: 71px;
    font-size: 68px;
    color: white;
    margin: 0 5px 0 50px;
    cursor: pointer;

    &--right {
      margin: 0 50px 0 5px;
    }
   }
    
    &__main {
      border: dashed grey 5px;
      width: 1098px;
      height: 372px;
      overflow: hidden;
      color: white;
      text-align: center;
      font-size: var(--header-size);
      perspective: 600px;
    }

    &__content {
      --rotation: 0deg;
      height: 100%;
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transform: scale(0.8); // added to prevent translateZ overscalling effect
      transform-style: preserve-3d;

      &__cube {
        position: absolute;
        width: 100%;
        height: 272px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 2s;
        
        &--front {
          transform: rotateY(var(--rotation)) translateZ(100px);
        }

        &--back {
          transform: rotateY(calc(var(--rotation) - 180deg)) translateZ(100px);
        }

        &--hidden {
          opacity: 0;
        }
      }
    }

    &__header {
      font-weight: bold;
      font-size: var(--header-big);
    }
  }

@media (max-width: 1160px) {
  :root {
    --header-size: 30px;
    --header-big: 50px;
  }
}

@media (max-width: 950px) {
  .team__gallery {
    grid-template-columns: repeat(auto-fit, 211px);
  }
}
